<!DOCTYPE html>
<html>

<head>
  <Title>CS371 - Node JS - Stettsen Olsen</Title>
  <script src="./main.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body onload="onload()">
  <div id="bodywrapper">
  <h2 id="welcometag">Welcome <%= username %> </h2>
  <form action="" method="get"></form>
  <button id="mainnav1" class="mainnav">Add workout</button>
  <div id="calander">
      <div id="datadiplay">
        <div id="datadisplay2">
          <div id="datadisplay3">
        <h1>Workouts</h1>
        <p id="dayworkouts"></p>
          </div>
        </div>
      </div>
    <div id="header">
      <button id="monthback"><</button>
      <h2 id="headermonth"></h2>
      <h4 id="headeryear"></h4>
      <button id="monthforward">></button>
    </div>
    <div id="calfields">
      <table id="caltable"></table>
    </div>
  </div>

  <div id="wOenter">
    <input type="text" placeholder="Exercise" id="exercisename">
    <div id="sets"></div>
    <button id="addset" class="wObtn">Add Set</button>
    <button id="wOback" class="wObtn">Back</button>
    <button id="wOcancel" class="wObtn">Cancel</button>
    <button id="submitexercise" class="wObtn">Enter</button>
  </div>
</div>
  <p id="workoutdata"> <%= results %></p>
</body>

</html>