<!DOCTYPE html>
<html>

<head>
  <Title>CS371 - Node JS - Stettsen Olsen</Title>
  <script src="./main.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body onload="onload()">
  <div id="backgro">
  <div id="bodywrapper">
    <div id="head">
  <h2 id="welcometag">Welcome <%= username %></h2>
    </div>
  <form action="" method="get"></form>
  <button id="mainnav1" class="mainnav">Add workout</button>
  <div id="wOenter">
      <input type="text" placeholder="Exercise" id="exercisename">
      <div id="sets"></div>
      <button id="addset" class="wObtn">Add Set</button>
      <button id="wOback" class="wObtn">Back</button>
      <button id="wOcancel" class="wObtn">Cancel</button>
      <button id="submitexercise" class="wObtn">Enter</button>
    </div>
  <div id="calander">
      <div id="datadiplay">
        <div id="datadisplay2">
        <h1>Workouts</h1>
        <p id="dayworkouts"></p>
        </div>
        <div id="datadisplay3">
            <%= recs %>
        </div>
      </div>
      <div id="realcal">
    <div id="header">
      <div id="heder">
      <button id="monthback"><</button>
      <span id="headermonth"></span>
      <button id="monthforward">></button>
    </div>
      <div><span id="headeryear"></span></div>
    </div>
    <div id="calfields">
      <table id="caltable"></table>
    </div>
  </div>
</div>
</div>
  <p id="workoutdata"> <%= results %></p>
</div>
</body>

</html>