<!DOCTYPE html>
<html>
<head>
  <Title>CS371 - Node JS - Stettsen Olsen</Title>
  <script> alert("localstorage username" + localStorage.getItem('username')); </script>
</head>

<body onload="onload()">
  <h2 id="welcometag">Welcome <%= username %> </h2>
  <form action="" method="get"></form>
</body>
</html>

