#monthback{
    display: table-cell;
    white-space: nowrap;
}
#headermonth{
    display: table-cell;
    white-space: nowrap;
}
#headeryear{
    display: table-cell;
    white-space: nowrap;
}