#monthback{
}
#headermonth{
}
#headeryear{
}
#wOenter{
    display: none;
}
#workoutdata{
    display: none;
}
.hasdata{
    background: green;
}
.calbtn{
    height: 100%;
    width: 100%;
    border-radius: 6pt;
}
.calcell{
    height: 50pt;
    width: 50pt;
}
#datadiplay{
    float: right;
}