#monthback{
}
#headermonth{
}
#headeryear{
}
#wOenter{
    display: none;
}
#workoutdata{
    display: none;
}
.hasdata{
    background: green;
}
.calbtn{
    height: 100%;
    width: 100%;
    border-radius: 6pt;
}
.calcell{
    height: 50pt;
    width: 50pt;
}
#datadiplay{
    float: right;
    width: 50%;
}
#datadisplay2{
    float: left;
    width: 50%;
}
#datadisplay3{
    float: right;
    width: 50%;
}
#bodywrapper{
    width: 85%;
    margin-left: 7.5%
}
#signupwelcome{
    border: solid black 2pt;
    border-radius: 12pt;
    position: absolute;
    top: 45%;
    width: 50%;
    left: 25%;
}